      <section class="inner_page_head" style="background-color: blue ;">
         <div class="container_fuild">
            <div class="row">
               <div class="col-md-12">
                  <div class="full">
                     <h3>CONTACT US</h3>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- end inner page section -->
      <!-- why section -->
      <section class="why_section layout_padding">
         <div class="container">
         
            <div class="row">
               <div class="col-lg-8 offset-lg-2">
                  <div class="full">
                     <form action="contact_send" method="POST">
                        <fieldset>
                           <p style="color: green ;"> {{msg}}</p> <p style="color: red ;"> {{msg1}}</p>
                           <br>
                           <br>
                           <input type="text" placeholder="Enter your full name" name="name"/>
                           <input type="email" placeholder="Enter your email address" name="email"/>
                           <textarea placeholder="Enter your message" type="message" name="message"></textarea>
                           <input type="submit" value="Submit" />
                        </fieldset>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </section>