      <section class="inner_page_head" style="background-color: blue ;">
         <div class="container_fuild">
            <div class="row">
               <div class="col-md-12">
                  <div class="full">
                     <h3>LOGIN</h3>
                  </div>
               </div>
            </div>
         </div>
      </section>

      <section class="why_section layout_padding">
         <div class="container">
         
            <div class="row">
               <div class="col-lg-8 offset-lg-2">
                  <div class="full">
                     <form  method="POST" action="login">
                       <p style="font-family:'Courier New', Courier, monospace ; color:red"> {{msg}} </p>
                        <br>
                        <br>
                        <fieldset>
                           <input type="email" placeholder="Enter your email address" name="email"/>
                           <input type="password" placeholder="Enter your password" name="password"/>
                           <input type="submit" value="Submit" />
                        </fieldset>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </section>